<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p>
    {{ data.message }}
  </p>
  <ul class="text-color-warn">
    <li *ngFor="let error of data.errors">{{ error }}</li>
  </ul>
  <div fxLayoutAlign="end">
    <button mat-flat-button color="warn" [mat-dialog-close]="true">Ok</button>
  </div>
</div>
