<div *ngIf="publisher">
  <div class="page-header">
    <h1>
      {{ publisher.lastName | titlecase }} {{ publisher.firstName | titlecase }}
    </h1>
  </div>

  <div class="page-content">
    <h2>Ajouter une activité</h2>
    <mat-card>
      <form
        [formGroup]="form"
        (ngSubmit)="handleSubmit()"
        fxLayout="column"
        fxLayoutGap="4px"
      >
        <mat-form-field>
          <mat-label>Mois</mat-label>
          <input
            formControlName="month"
            matInput
            [matDatepicker]="monthPicker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="monthPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #monthPicker
            startView="year"
            (monthSelected)="chosenMonthHandler($event, monthPicker)"
          ></mat-datepicker>
          <mat-error *ngIf="month?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
          <mat-error *ngIf="month?.errors?.['matDatepickerParse']">
            Valeur invalide
          </mat-error>
          <mat-error *ngIf="month?.errors?.['activityAlreadyExists']">
            Une activité existe déjà pour ce proclamateur et ce mois
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Publications</mat-label>
          <input formControlName="placements" matInput type="number" />
          <mat-error *ngIf="placements?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Vidéos</mat-label>
          <input formControlName="videos" matInput type="number" />
          <mat-error *ngIf="videos?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Heures</mat-label>
          <input formControlName="hours" matInput type="number" />
          <mat-error *ngIf="hours?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nouvelles visites</mat-label>
          <input formControlName="visits" matInput type="number" />
          <mat-error *ngIf="visits?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cours bibliques</mat-label>
          <input formControlName="studies" matInput type="number" />
          <mat-error *ngIf="studies?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Observations</mat-label>
          <input formControlName="remarks" matInput />
        </mat-form-field>

        <div fxLayoutAlign="end">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Enregistrer
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
