<div *ngIf="publisher">
  <div class="page-header">
    <div fxLayout="row" fxLayoutAlign="space-between top">
      <div>
        <h1>
          {{ publisher.lastName | titlecase }}
          {{ publisher.firstName | titlecase }}
        </h1>
        <p class="text-color-grey">
          {{ publisher.gender === "male" ? "Homme" : "Femme" }} -
          {{ publisher.isAnointed ? "Membre oint" : "Autre brebis" }}<br />
          <ng-template [ngIf]="publisher.baptismDate">
            Batisé le {{ publisher.baptismDate | date }}<br />
          </ng-template>
          <ng-template [ngIf]="publisher.birthDate">
            Né le {{ publisher.birthDate | date }}<br />
          </ng-template>
          <ng-template [ngIf]="publisher.isInactive">
            <span class="text-color-warn">Inactif</span><br />
          </ng-template>
        </p>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          [routerLink]="['/publishers', 'create-appointment', publisher.id]"
        >
          Ajouter une nomination
        </button>
        <button
          mat-menu-item
          [routerLink]="['/publishers', 'create-activity', publisher.id]"
        >
          Ajouter une activité
        </button>
        <button
          mat-menu-item
          [routerLink]="['/publishers', 'update-publisher', publisher.id]"
        >
          Modifier le proclamateur
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="page-content">
    <h2>Nominations</h2>
    <mat-card
      *ngIf="
        appointments && appointments.length > 0;
        else appointmentsElseBlock
      "
      class="table-card"
    >
      <table mat-table [dataSource]="appointments">
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let appointment" nowrap>
            <span [ngSwitch]="appointment.type">
              <span *ngSwitchCase="appointmentTypes.AuxiliaryPioneer">
                Pionnier auxiliaire
              </span>
              <span *ngSwitchCase="appointmentTypes.RegularPioneer">
                Pionnier permanent
              </span>
              <span *ngSwitchCase="appointmentTypes.SpecialPioneer">
                Pionnier spécial / SSPT
              </span>
              <span *ngSwitchCase="appointmentTypes.Elder"> Ancien </span>
              <span *ngSwitchCase="appointmentTypes.MinisterialServant">
                Assistant
              </span>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Début</th>
          <td
            mat-cell
            *matCellDef="let appointment"
            nowrap
            class="bg-color-grey"
          >
            {{ appointment.startDate | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef>Fin</th>
          <td mat-cell *matCellDef="let appointment" nowrap>
            {{ appointment.endDate | date }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['type', 'startDate', 'endDate']"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['type', 'startDate', 'endDate']"
          [routerLink]="['/publishers/update-appointment', row.id]"
          class="clickable-row"
        ></tr>
      </table>
    </mat-card>
    <ng-template #appointmentsElseBlock>
      <p class="text-color-grey">
        Aucune nomination n'a été ajoutée pour ce proclamateur
      </p>
    </ng-template>

    <h2>Activités</h2>
    <mat-card
      *ngIf="activities && activities.length > 0; else activitiesElseBlock"
      class="table-card"
    >
      <table mat-table [dataSource]="activities">
        <ng-container matColumnDef="month" sticky>
          <th mat-header-cell *matHeaderCellDef>Mois</th>
          <td mat-cell *matCellDef="let activity" nowrap>
            {{ activity.month | date: "MMMM yyyy" | titlecase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="placements">
          <th mat-header-cell *matHeaderCellDef>Publ.</th>
          <td
            mat-cell
            *matCellDef="let activity"
            class="small-cell bg-color-grey"
          >
            {{ activity.placements }}
          </td>
        </ng-container>

        <ng-container matColumnDef="videos">
          <th mat-header-cell *matHeaderCellDef>Vidéos</th>
          <td mat-cell *matCellDef="let activity" class="small-cell">
            {{ activity.videos }}
          </td>
        </ng-container>

        <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef>Heures</th>
          <td
            mat-cell
            *matCellDef="let activity"
            class="small-cell bg-color-grey"
            [ngClass]="{ 'bg-color-red' : activity.hours == 0 }"
          >
            {{ activity.hours }}
          </td>
        </ng-container>

        <ng-container matColumnDef="visits">
          <th mat-header-cell *matHeaderCellDef>Visites</th>
          <td mat-cell *matCellDef="let activity" class="small-cell">
            {{ activity.visits }}
          </td>
        </ng-container>

        <ng-container matColumnDef="studies">
          <th mat-header-cell *matHeaderCellDef>Etudes</th>
          <td
            mat-cell
            *matCellDef="let activity"
            class="small-cell bg-color-grey"
          >
            {{ activity.studies }}
          </td>
        </ng-container>

        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef>Observations</th>
          <td mat-cell *matCellDef="let activity" nowrap>
            {{ activity.remarks }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="[
            'month',
            'placements',
            'videos',
            'hours',
            'visits',
            'studies',
            'remarks'
          ]"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: [
              'month',
              'placements',
              'videos',
              'hours',
              'visits',
              'studies',
              'remarks'
            ]
          "
          [routerLink]="['/publishers/update-activity', row.id]"
          class="clickable-row"
        ></tr>
      </table>
    </mat-card>
    <ng-template #activitiesElseBlock>
      <p class="text-color-grey">
        Aucune activité n'a été ajoutée pour ce proclamateur
      </p>
    </ng-template>
  </div>
</div>
