<div class="page-header" *ngIf="month">
  <div fxLayout="row" fxLayoutAlign="space-between top">
    <div>
      <h1>{{ month | date: "MMMM yyyy" | titlecase }}</h1>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="exportData()">
        Exporter les données
      </button>
    </mat-menu>
  </div>
</div>

<div class="page-content">
  <h2>Synthèse</h2>
  <mat-card class="table-card">
    <table mat-table [dataSource]="recaps">
      <ng-container matColumnDef="type" sticky>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let recap" nowrap>
          <span [ngSwitch]="recap.type">
            <span *ngSwitchCase="'regular-pioneer'">
              Pionniers permanents
            </span>
            <span *ngSwitchCase="'auxiliary-pioneer'">
              Pionniers auxiliaires
            </span>
            <span *ngSwitchCase="'publisher'">
              Proclamateurs
            </span>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Actifs</th>
        <td
          mat-cell
          *matCellDef="let recap"
          class="small-cell bg-color-grey"
        >
          {{ recap.count }}
        </td>
      </ng-container>

      <ng-container matColumnDef="placements">
        <th mat-header-cell *matHeaderCellDef>Publ.</th>
        <td mat-cell *matCellDef="let recap" class="small-cell">
          {{ recap.placements }}
        </td>
      </ng-container>

      <ng-container matColumnDef="videos">
        <th mat-header-cell *matHeaderCellDef>Vidéos</th>
        <td
          mat-cell
          *matCellDef="let recap"
          class="small-cell bg-color-grey"
        >
          {{ recap.videos }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef>Heures</th>
        <td mat-cell *matCellDef="let recap" class="small-cell">
          {{ recap.hours }}
        </td>
      </ng-container>

      <ng-container matColumnDef="visits">
        <th mat-header-cell *matHeaderCellDef>Visites</th>
        <td
          mat-cell
          *matCellDef="let recap"
          class="small-cell bg-color-grey"
        >
          {{ recap.visits }}
        </td>
      </ng-container>

      <ng-container matColumnDef="studies">
        <th mat-header-cell *matHeaderCellDef>Etudes</th>
        <td mat-cell *matCellDef="let recap" class="small-cell">
          {{ recap.studies }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="[
          'type',
          'count',
          'placements',
          'videos',
          'hours',
          'visits',
          'studies'
        ]"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let recap;
          columns: [
            'type',
            'count',
            'placements',
            'videos',
            'hours',
            'visits',
            'studies'
          ]
        "
      ></tr>
    </table>
  </mat-card>

  <h2>Activités</h2>
  <mat-card *ngIf="activities" class="table-card">
    <table mat-table [dataSource]="activities">
      <ng-container matColumnDef="publisher" sticky>
        <th mat-header-cell *matHeaderCellDef>Proclamateur</th>
        <td mat-cell *matCellDef="let activity" nowrap>
          {{ activity.publisher.lastName }} {{ activity.publisher.firstName }}
          <small class="text-color-warn" *ngIf="activity.publisher.isInactive"> - Inactif</small>
        </td>
      </ng-container>

      <ng-container matColumnDef="placements">
        <th mat-header-cell *matHeaderCellDef>Publ.</th>
        <td
          mat-cell
          *matCellDef="let activity"
          class="small-cell bg-color-grey"
        >
          {{ activity.placements }}
        </td>
      </ng-container>

      <ng-container matColumnDef="videos">
        <th mat-header-cell *matHeaderCellDef>Vidéos</th>
        <td mat-cell *matCellDef="let activity" class="small-cell">
          {{ activity.videos }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef>Heures</th>
        <td
          mat-cell
          *matCellDef="let activity"
          class="small-cell bg-color-grey"
          [ngClass]="{ 'bg-color-red' : activity.hours == 0 && !activity.publisher.isInactive, 'bg-color-green' : activity.hours > 0 && activity.publisher.isInactive}"
        >
          {{ activity.hours }}
        </td>
      </ng-container>

      <ng-container matColumnDef="visits">
        <th mat-header-cell *matHeaderCellDef>Visites</th>
        <td mat-cell *matCellDef="let activity" class="small-cell">
          {{ activity.visits }}
        </td>
      </ng-container>

      <ng-container matColumnDef="studies">
        <th mat-header-cell *matHeaderCellDef>Etudes</th>
        <td
          mat-cell
          *matCellDef="let activity"
          class="small-cell bg-color-grey"
        >
          {{ activity.studies }}
        </td>
      </ng-container>

      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef>Observations</th>
        <td mat-cell *matCellDef="let activity" nowrap>
          {{ activity.remarks }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="[
          'publisher',
          'placements',
          'videos',
          'hours',
          'visits',
          'studies',
          'remarks'
        ]"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let activity;
          columns: [
            'publisher',
            'placements',
            'videos',
            'hours',
            'visits',
            'studies',
            'remarks'
          ]
        "
        [routerLink]="['/publishers/view-publisher', activity.publisher.id]"
        class="clickable-row"
      ></tr>
    </table>
  </mat-card>
</div>
