<div class="page-header">
  <div fxLayout="row" fxLayoutAlign="space-between top">
    <div>
      <h1>Proclamateurs</h1>
      <p class="text-color-grey">
        L'assemblée locale compte {{ publishers.length }} proclamateurs
      </p>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/publishers/create-publisher']">
        Ajouter un proclamateur
      </button>
      <button mat-menu-item [routerLink]="['/publishers/import-publishers']">
        Importer des proclamateurs
      </button>
    </mat-menu>
  </div>
</div>

<div *ngIf="dataSource && publishers">
  <div class="page-content">
    <mat-form-field>
      <mat-label>Rechercher</mat-label>
      <input matInput #searchInput (keyup)="applyFilter($event)" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell nowrap *matCellDef="let publisher">
          {{ publisher.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Prénom</th>
        <td mat-cell nowrap *matCellDef="let publisher">
          {{ publisher.firstName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef>Naissance</th>
        <td mat-cell nowrap *matCellDef="let publisher" class="text-color-grey">
          {{ publisher.birthDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="baptismDate">
        <th mat-header-cell *matHeaderCellDef>Baptème</th>
        <td mat-cell nowrap *matCellDef="let publisher" class="text-color-grey">
          {{ publisher.baptismDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Genre</th>
        <td mat-cell nowrap *matCellDef="let publisher">
          {{ publisher.gender == "male" ? "Homme" : "Femme" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isInactive">
        <th mat-header-cell *matHeaderCellDef>Inactif</th>
        <td mat-cell nowrap *matCellDef="let publisher">
          <mat-icon color="warn" *ngIf="publisher.isInactive">done</mat-icon>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="[
          'lastName',
          'firstName',
          'birthDate',
          'baptismDate',
          'gender',
          'isInactive'
        ]"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let publisher;
          columns: [
            'lastName',
            'firstName',
            'birthDate',
            'baptismDate',
            'gender',
            'isInactive'
          ]
        "
        [routerLink]="['/publishers/view-publisher', publisher.id]"
        class="clickable-row"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-color-grey" colspan="6">
          <span
            *ngIf="searchInput.value; then thenBlock; else elseBlock"
          ></span>
          <ng-template #thenBlock
            >Aucun proclamateur trouvé pour "{{
              searchInput.value
            }}"</ng-template
          >
          <ng-template #elseBlock
            >Aucun proclamateur n'a été ajouté</ng-template
          >
        </td>
      </tr>
    </table>
  </div>
</div>
