@use "@angular/material" as mat;
@use "sass:map";
@import "./fonts.scss";
@import "./theme.scss";

$custom-theme: map.set(
  $custom-theme,
  "color",
  "foreground",
  "text",
  $custom-text-color
);
$custom-theme: map.set(
  $custom-theme,
  "color",
  "background",
  "background",
  $custom-background-color
);

@include mat.core($custom-typography);
@include mat.all-component-themes($custom-theme);

html,
body {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
  color: mat.get-color-from-palette($custom-accent);
  text-decoration: none;
}

.page-header {
  padding: 30px 60px 50px 60px;

  h1 {
    margin: 0;
  }
}
.page-content {
  padding: 20px 60px;
}

.text-color-grey {
  color: mat.get-color-from-palette(mat.$grey-palette, 500);
}

.bg-color-grey {
  background-color: mat.get-color-from-palette(mat.$grey-palette, 200);
}

.bg-color-red {
  background-color: mat.get-color-from-palette(mat.$red-palette, 200);
}

.bg-color-green {
  background-color: mat.get-color-from-palette(mat.$light-green-palette, 200);
}

.text-color-warn {
  color: mat.get-color-from-palette($custom-warn);
}

.mat-custom {
  h2 {
    color: mat.get-color-from-palette(mat.$grey-palette, 400);

    &:not(:first-child) {
      margin-top: 46px;
    }
  }

  .mat-dialog-container {
    border-radius: 12px;
  }

  .mat-card {
    &:not([class*="mat-elevation-z"]) {
      box-shadow: none;
    }

    &.table-card {
      overflow: auto;
      padding: 0;
      tr:last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px;
  }

  .mat-button,
  .mat-stroked-button,
  .mat-flat-button {
    border-radius: 8px;
  }

  .mat-row.clickable-row:hover {
    background-color: mat.get-color-from-palette(mat.$grey-palette, 100);
    cursor: pointer;
  }

  table {
    width: 100%;

    td.mat-cell,
    th.mat-header-cell {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}
