@font-face {
  font-family: "GT Eesti";
  font-style: normal;
  font-display: fallback;
  font-weight: 200;
  src: url("../assets/fonts/GT-Eesti-Pro-Display-Light.woff2") format("woff2"),
    url("../assets/fonts/GT-Eesti-Pro-Display-Light.woff") format("woff");
}

@font-face {
  font-family: "GT Eesti";
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url("../assets/fonts/GT-Eesti-Pro-Display-Regular.woff2") format("woff2"),
    url("../assets/fonts/GT-Eesti-Pro-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT Eesti";
  font-style: normal;
  font-display: fallback;
  font-weight: 500;
  src: url("../assets/fonts/GT-Eesti-Pro-Display-Medium.woff2") format("woff2"),
    url("../assets/fonts/GT-Eesti-Pro-Display-Medium.woff") format("woff");
}

@font-face {
  font-family: "GT Eesti";
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: url("../assets/fonts/GT-Eesti-Pro-Display-Bold.woff2") format("woff2"),
    url("../assets/fonts/GT-Eesti-Pro-Display-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../assets/fonts/MaterialIconsRound-Regular.otf") format('opentype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}
