@use '@angular/material' as mat;

$custom-primary: mat.define-palette(mat.$light-blue-palette, 500);
$custom-accent: mat.define-palette(mat.$amber-palette, 700);
$custom-warn: mat.define-palette(mat.$red-palette, 500);
$custom-text-color: mat.get-color-from-palette(mat.$grey-palette, 800);
$custom-background-color: mat.get-color-from-palette(mat.$grey-palette, 100);
$custom-typography: mat.define-typography-config(
  $font-family: '"GT Eesti", "Helvetica Neue", sans-serif',
  $headline: mat.define-typography-level(36px, 36px, 700),
);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: $custom-typography
  )
);
