<div class="page-header">
  <h1>Base de données</h1>
</div>
<div class="page-content">
  <div *ngIf="openedDatabase$ | async as openedDatabase">
    <h2>Base de données ouverte</h2>
    <mat-card>
      <p>
        Une base de données est actuellement ouverte. Vous pouvez cliquer sur le
        dossier ci-dessous pour ouvrir le fichier dans l'explorateur de fichier.
      </p>

      <div fxLayout="column">
        <mat-form-field (click)="openExplorer(openedDatabase)">
          <mat-label>Chemin du fichier de base de données</mat-label>
          <input matInput [value]="openedDatabase" [readonly]="true" />
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end">
        <button mat-flat-button color="warn" (click)="closeDatabase()">
          Fermer
        </button>
      </div>
    </mat-card>
  </div>

  <h2>Créer une nouvelle base de données</h2>
  <mat-card>
    <p>
      Une base de donnée est nécéssaire au bon fonctionnement de ce logiciel.
      Elle contiendra toutes les informations stockées par cette application.
      Aucune donnée n'est envoyée en ligne.
    </p>
    <div fxLayoutAlign="end">
      <button mat-flat-button color="primary" (click)="createDatabase()">
        Créer
      </button>
    </div>
  </mat-card>

  <h2>Ouvrir une base de données existante</h2>
  <mat-card>
    <p>
      Vous pouvez ouvrir une base de données existante sauvegardée par vous-même
      ou une autre personne.
    </p>
    <div fxLayoutAlign="end">
      <button mat-flat-button color="primary" (click)="openDatabase()">
        Ouvrir
      </button>
    </div>
  </mat-card>
</div>
