<div class="page-header">
  <h1>Proclamateurs</h1>
</div>

<div class="page-content">
  <h2>Importer des proclamateurs</h2>
  <mat-card>
    <p>
      L'importation permet d'ajouter plusieurs proclamteurs en une seule
      opération. Lors de la préparation du fichier d'import veuillez utiliser un
      fichier Excel (.xlsx) et respecter le format décrit plus bas. La première
      ligne du fichier d'import doit contenir le nom des colonnes exactement tel
      qu'il est décris dans le format (avec les majuscules, accents et
      espaces).<br />
      <a href="assets/import-exemples/publishers.xlsx">
        Cliquez ici pour télécharger un fichier d'exemple
      </a>
    </p>

    <form
      [formGroup]="form"
      (ngSubmit)="handleSubmit()"
      fxLayout="column"
      fxLayoutGap="4px"
    >
      <mat-form-field (click)="fileInput.click()">
        <mat-label>Fichier d'import</mat-label>
        <input formControlName="file" matInput [readonly]="true" />
        <input
          hidden
          #fileInput
          type="file"
          (change)="onFileInputCHange()"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        />
        <mat-icon matSuffix>folder</mat-icon>
        <mat-error *ngIf="file?.errors?.['required']">
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

      <div fxLayoutAlign="end">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Importer
        </button>
      </div>
    </form>
  </mat-card>

  <h2>Format du fichier d'import</h2>
  <mat-card class="table-card">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell nowrap *matCellDef="let row" class="text-color-grey">
          {{ row.position }}
        </td>
      </ng-container>

      <ng-container matColumnDef="field">
        <th mat-header-cell *matHeaderCellDef>Colonne</th>
        <td mat-cell nowrap *matCellDef="let row" class="bg-color-grey">
          {{ row.field }}
        </td>
      </ng-container>

      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef>Format</th>
        <td mat-cell nowrap *matCellDef="let row">
          {{ row.format }}
          <small *ngIf="!row.required" class="text-color-grey">
            - facultatif
          </small>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['position', 'field', 'format']"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['position', 'field', 'format']"
      ></tr>
    </table>
  </mat-card>
</div>
