<div class="title-bar">
  <div class="title">
    <img class="title-icon" src="./assets/images/logo.svg">Le secrétaire adjoint
  </div>
</div>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" [opened]="openMenu$ | async">
    <div fxLayout="column" fxFlexFill>
      <mat-nav-list fxFlex fxLayout="column">
        <a mat-list-item [routerLink]="['/activities']">
          <mat-icon>pending_actions</mat-icon>Activités
        </a>
        <a mat-list-item [routerLink]="['/publishers']">
          <mat-icon>badge</mat-icon>Proclamateurs
        </a>

        <div fxFlex></div>

        <a mat-list-item [routerLink]="['/select-database']">
          <mat-icon>settings</mat-icon>Base de données
        </a>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
