@use "@angular/material" as mat;

$title-bar-height: 36px;

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $title-bar-height;
  z-index: 9999;
  -webkit-app-region: drag;
  overflow: hidden;

  .title {
    line-height: $title-bar-height;
    font-size: 12px;
    margin-left: 16px;
    color: mat.get-color-from-palette(mat.$grey-palette, 600);
    .title-icon {
      margin-right: 16px;
      height: 24px;
      vertical-align: middle;
    }
  }
}

mat-drawer-container {
  height: 100%;

  mat-drawer-content {
    height: calc(100% - $title-bar-height);
    margin-top: $title-bar-height;
  }

  mat-drawer {
    width: 260px;
    mat-nav-list {
      padding-top: calc($title-bar-height + 16px);
      mat-icon {
        margin-right: 16px;
      }
    }
  }
}
