<app-spinner-overlay *ngIf="loading"></app-spinner-overlay>
<div class="page-header">
  <div fxLayout="row" fxLayoutAlign="space-between top">
    <div>
      <h1>Activités</h1>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/activities/import-activities']">
        Importer des activités
      </button>
      <button mat-menu-item (click)="exportPublishersRecords()">
        Exporter les S-21
      </button>
    </mat-menu>
  </div>
</div>

<table mat-table [dataSource]="activitiesByMonth">
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef>Mois</th>
    <td mat-cell nowrap *matCellDef="let element">
      {{ element.month | date: "MMMM yyyy" | titlecase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="activitiesCount">
    <th mat-header-cell *matHeaderCellDef>
      Rapports<span class="text-color-grey"> / Proclamateurs</span>
    </th>
    <td mat-cell nowrap *matCellDef="let element">
      {{ element.activitiesCount }}
      <span class="text-color-grey"> / {{ publishersCount }}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['month', 'activitiesCount']"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['month', 'activitiesCount']"
    [routerLink]="['/activities', 'month-activities', row.month]"
    class="clickable-row"
  ></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell text-color-grey" colspan="2">Aucune activité n'a été ajoutée</td>
  </tr>
</table>
