<div class="page-header">
  <h1>Proclamateurs</h1>
</div>

<div class="page-content">
  <h2>Ajouter un proclamateur</h2>
  <mat-card>
    <form
      [formGroup]="form"
      (ngSubmit)="handleSubmit()"
      fxLayout="column"
      fxLayoutGap="4px"
    >
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male"> Homme </mat-option>
          <mat-option value="female"> Femme </mat-option>
        </mat-select>
        <mat-error *ngIf="gender?.errors?.['required']">
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input
          formControlName="lastName"
          matInput
          type="text"
          [errorStateMatcher]="publisherAlreadyExistsErrorStateMatcher"
        />
        <mat-error *ngIf="lastName?.errors?.['required']">
          Ce champ est obligatoire
        </mat-error>
        <mat-error *ngIf="form?.errors?.['publisherAlreadyExists']">
          Ce proclamateur existe déjà
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input
          formControlName="firstName"
          matInput
          type="text"
          [errorStateMatcher]="publisherAlreadyExistsErrorStateMatcher"
        />
        <mat-error *ngIf="firstName?.errors?.['required']">
          Ce champ est obligatoire
        </mat-error>
        <mat-error *ngIf="form?.errors?.['publisherAlreadyExists']">
          Ce proclamateur existe déjà
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date de naissance</mat-label>
        <input
          formControlName="birthDate"
          matInput
          [matDatepicker]="birthDatePicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthDatePicker></mat-datepicker>
        <mat-error *ngIf="birthDate?.errors?.['matDatepickerParse']">
          Valeur invalide
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date de baptème</mat-label>
        <input
          formControlName="baptismDate"
          matInput
          [matDatepicker]="baptismDatePicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="baptismDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #baptismDatePicker></mat-datepicker>
        <mat-error *ngIf="baptismDate?.errors?.['matDatepickerParse']">
          Valeur invalide
        </mat-error>
      </mat-form-field>

      
      <mat-form-field>
        <mat-label>Espérance</mat-label>
        <mat-select formControlName="isAnointed">
          <mat-option [value]="false">Autre brebis</mat-option>
          <mat-option [value]="true">Oint</mat-option>
        </mat-select>
        <mat-error *ngIf="isAnointed?.errors?.['required']">
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Activité</mat-label>
        <mat-select formControlName="isInactive">
          <mat-option [value]="false">Actif</mat-option>
          <mat-option [value]="true">Inactif</mat-option>
        </mat-select>
        <mat-error *ngIf="isInactive?.errors?.['required']">
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>


      <div fxLayoutAlign="end">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Enregistrer
        </button>
      </div>
    </form>
  </mat-card>
</div>
