<div *ngIf="appointment">
  <div class="page-header">
    <div fxLayout="row" fxLayoutAlign="space-between top">
      <div>
        <h1>
          {{ appointment.publisher.lastName | titlecase }}
          {{ appointment.publisher.firstName | titlecase }}
        </h1>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteAppointment()">
          <span class="text-color-warn">Supprimer la nomination</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="page-content">
    <h2>Modifier la nomination</h2>
    <mat-card>
      <form
        [formGroup]="form"
        (ngSubmit)="handleSubmit()"
        fxLayout="column"
        fxLayoutGap="4px"
      >
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="appointmentTypes.AuxiliaryPioneer">
              Pionnier auxiliaire
            </mat-option>
            <mat-option [value]="appointmentTypes.RegularPioneer">
              Pionnier permanent
            </mat-option>
            <mat-option [value]="appointmentTypes.SpecialPioneer">
              Pionnier spécial / SSPT
            </mat-option>
            <mat-option [value]="appointmentTypes.Elder">Ancien</mat-option>
            <mat-option [value]="appointmentTypes.MinisterialServant">
              Assistant
            </mat-option>
          </mat-select>
          <mat-error *ngIf="type?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date de début</mat-label>
          <input
            formControlName="startDate"
            matInput
            [matDatepicker]="startDatePicker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-error *ngIf="startDate?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
          <mat-error *ngIf="startDate?.errors?.['matDatepickerParse']">
            Valeur invalide
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date de fin</mat-label>
          <input
            formControlName="endDate"
            matInput
            [matDatepicker]="endDatePicker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <mat-error *ngIf="endDate?.errors?.['matDatepickerParse']">
            Valeur invalide
          </mat-error>
        </mat-form-field>

        <div fxLayoutAlign="end">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Enregistrer
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
