<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
  <p>
    {{ message }}
  </p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-button [mat-dialog-close]="false">Annuler</button>
    <button mat-flat-button color="warn" [mat-dialog-close]="true">
      Confirmer
    </button>
  </div>
</div>
