<div *ngIf="activity">
  <div class="page-header">
    <div fxLayout="row" fxLayoutAlign="space-between top">
      <div>
        <h1>
          {{ activity.publisher.lastName | titlecase }}
          {{ activity.publisher.firstName | titlecase }}
        </h1>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteActivity()">
          <span class="text-color-warn">Supprimer l'activité</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="page-content">
    <h2>Modifier l'activité de {{ activity.month | date: "MMMM yyyy" }}</h2>
    <mat-card>
      <form
        [formGroup]="form"
        (ngSubmit)="handleSubmit()"
        fxLayout="column"
        fxLayoutGap="4px"
      >
        <mat-form-field>
          <mat-label>Publications</mat-label>
          <input formControlName="placements" matInput type="number" />
          <mat-error *ngIf="placements?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Vidéos</mat-label>
          <input formControlName="videos" matInput type="number" />
          <mat-error *ngIf="videos?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Heures</mat-label>
          <input formControlName="hours" matInput type="number" />
          <mat-error *ngIf="hours?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nouvelles visites</mat-label>
          <input formControlName="visits" matInput type="number" />
          <mat-error *ngIf="visits?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cours bibliques</mat-label>
          <input formControlName="studies" matInput type="number" />
          <mat-error *ngIf="studies?.errors?.['required']">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Observations</mat-label>
          <input formControlName="remarks" matInput />
        </mat-form-field>


        <div fxLayoutAlign="end">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Enregistrer
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
